/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  text-align: center;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  appearance: none;
  border: 1px solid transparent;
  padding: 8px 12px;
  /* background-color: #d3d3d3; */
  border-radius: 3px;
  font-size: 14px;
  background-color: #0099dc;
  color: #fff;
}

button:hover {
  border: 1px solid #0099dc;
  background-color: #fff;
  color: #222;
  cursor: pointer;
}

header.page-header {
  background-color: #282b32;
  padding: 20px 10px;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

main {
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}


/* Form for entering new song */

.song-form {
    box-shadow: 0 0 8px rgba(20, 13, 65, 0.45);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: antiquewhite;
}

.song-form__message {
  font-size: 14px;
  font-style: italic;
}

.song-form__message--error {
  color: #D8000C;
  font-weight: bold;
}

.song-form__entry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


input, select {
  color: #222;
  font-size: 12px;
  padding: 8px;
  margin: 10px 8px 10px 0;
  border: 1px solid #B1BEC1;
  border-radius: 8px;
  outline: none;

}

input:focus {
  border: 1px solid #0099dc;
}


/* Song list table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid grey;
}

th, td {
  padding: 12px;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}
th {
  color: white;
  background-color: #282b32;
}



footer {
  background-color: #282b32;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}
